@import url('https://fonts.googleapis.com/css?family=Roboto');

.room {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

@import 'components/pencil';
@import 'components/postit';
@import 'components/mug';
@import 'components/phone';
@import 'components/laptop/';
@import 'components/description/';


.table {
  height: 500px;
  width: 1000px;
  margin-top: 25px;
  background: repeating-linear-gradient(
    to bottom,
    #5D4037,
    #795548,
  );
  background-size: 50% 50px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 25px;
}

.top-part {
  display: flex;
}
