// index.pug

doctype html
html(lang="")
  head
    link(rel="stylesheet", href="index.scss")
  body
    .room
      .title Hi I'm Luca, nice to meet you
      .table
        .top-part
          .pencil
            .eraser
            .body
              .shadow
            .point

          .postit
            .line
            .line
            .line
            .line
          .phone
            .speaker
            .screen
            .button
            
        .mug
          .cup
            .opening
          .handle


    