@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "components/pencil";
@import "components/postit";
@import "components/mug";
@import "components/phone";
@import "components/laptop/";
@import "components/description/";
@import "components/projects/";
@import "components/codepen/";

.table {
  height: 500px;
  width: 1000px;
  margin-top: 25px;
  background: repeating-linear-gradient(to bottom, #5d4037, #795548);
  background-size: 50% 50px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 25px;
  font-weight: bold;
}

.top-part {
  display: flex;
}
