.description
  div 
    p 
      | I'm a Fullstack software developer based in Berlin, 
      | I mostly work in Javscript and Ruby, currently working for 
      a(href="https://www.babbel.com/", target="_blank") Babbel

    p 
      | You can find me also on 
      a(href="https://medium.com/@unsigned", target="_blank") Medium
      | , 
      a(href="https://github.com/unsign3d", target="_blank") Github
      | , 
      a(href="https://www.linkedin.com/in/lucabruzzone/", target="_blank") Linkedin
      |  and 
      a(href="https://codepen.io/unsigned/", target="_blank") Codepen
    
    p 
      | This website is hosted on github pages and cached by Cloudflare as a CDN
      | Cloudflare injects a cookie a(href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-CloudFlare-cfduid-cookie-do-#12345682") _cfduid, 
      | I don't have access to any personal information.
