.codepens
  .sub-title Some of my Codepens
  
  .pens
    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="unsigned" data-slug-hash="GLEObM" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="simple minesweeper">
      <span>See the Pen <a href="https://codepen.io/unsigned/pen/GLEObM">
      simple minesweeper</a> by Luca "Unsigned" Bruzzone (<a href="https://codepen.io/unsigned">@unsigned</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>

    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="unsigned" data-slug-hash="BEKGep" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="box invasion">
      <span>See the Pen <a href="https://codepen.io/unsigned/pen/BEKGep">
      box invasion</a> by Luca "Unsigned" Bruzzone (<a href="https://codepen.io/unsigned">@unsigned</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>

    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="unsigned" data-slug-hash="LvNgde" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="colored ellipses">
      <span>See the Pen <a href="https://codepen.io/unsigned/pen/LvNgde">
      colored ellipses</a> by Luca "Unsigned" Bruzzone (<a href="https://codepen.io/unsigned">@unsigned</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>

    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="html,result" data-user="unsigned" data-slug-hash="LvLqZm" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS playing cards">
      <span>See the Pen <a href="https://codepen.io/unsigned/pen/LvLqZm">
      CSS playing cards</a> by Luca "Unsigned" Bruzzone (<a href="https://codepen.io/unsigned">@unsigned</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>