.codepens {
  padding: 2rem;
  padding-top: 0;

  .pens {
    display: flex;
    flex-flow: row wrap;
  }

  .cp_embed_wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .sub-title {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 35px;
    font-family: sans-serif;
    font-weight: bold;
  }
}
