<div class="card">
    <a href="https://medium.com/@unsigned/moving-away-from-travis-configure-circle-ci-to-deploy-github-pages-ce39e8b89291?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">Moving away from Travis, configure Circle CI to deploy Github Pages</div>
      <div class="card-date">Sun, 28 Apr 2019 19:33:42 GMT</div>
    </a>
  </div><div class="card">
    <a href="https://medium.com/@unsigned/from-macbook-to-linux-linux-installation-process-5bfbf912e843?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">From Macbook to Linux (Linux installation process)</div>
      <div class="card-date">Fri, 26 Apr 2019 09:54:48 GMT</div>
    </a>
  </div><div class="card">
    <a href="https://medium.com/@unsigned/diy-react-state-manager-22abcfad09bb?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">DIY React state manager</div>
      <div class="card-date">Fri, 07 Sep 2018 09:19:01 GMT</div>
    </a>
  </div><div class="card">
    <a href="https://medium.com/@unsigned/genetic-algorithms-what-are-those-and-my-impression-ef0b4fbe560a?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">Genetic Algorithms, what are those and my impression</div>
      <div class="card-date">Mon, 21 May 2018 16:57:08 GMT</div>
    </a>
  </div><div class="card">
    <a href="https://medium.com/@unsigned/recap-of-2017-e4733481a4ba?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">Recap of 2017</div>
      <div class="card-date">Sun, 24 Dec 2017 16:11:01 GMT</div>
    </a>
  </div><div class="card">
    <a href="https://medium.com/@unsigned/few-thoughts-about-mobile-ux-32885fbb53ea?source=rss-b75af8ee1ae9------2" target="_blank">
      <div class="card-title">Few thoughts about mobile UX</div>
      <div class="card-date">Sun, 03 Jul 2016 14:26:01 GMT</div>
    </a>
  </div>